<%- include("partials/header") -%>
<main>
  <section id="introduction">
    <h2>Introduction</h2>
    <p>Hello, my name is Mahedy Hasan Noman. I am a Regular Student of University Of South Asia based in . I have a passion for Full Stack development and enjoy Prgramming.</p>
  </section>

  <section id="background">
    <h2>Background</h2>
    <p>I have a  Educational Background from  University Of South Asia . Over the years, I have gained experience in Full Stack Development Field and have worked on various projects related to this.</p>
  </section>

  <section id="interests">
    <h2>Interests</h2>
    <p>Outside of work, I have a keen interest in. I enjoy Activities or Hobbies in my free time and love to Other Activities or Interests.</p>
  </section>
</main>
<%- include("partials/footer") -%>
